<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Publish your news</mat-card-title>
        </mat-card-header>
        <form class="example-form">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input required type="text" [(ngModel)]="post.title" matInput placeholder="Title" name="title">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input required type="text" [(ngModel)]="post.description" matInput placeholder="Description" name="description">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input required type="text" [(ngModel)]="post.imageUrl" matInput placeholder="Picture Url" name="imageUrl">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input required type="number" [(ngModel)]="post.snaps" matInput placeholder="Number Likes" name="snaps">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input required type="number" [(ngModel)]="post.prix" matInput placeholder="Price" name="prix">
                </mat-form-field>
            </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" (click)="postNow()">Send it 😉</button>
        </form>
    </mat-card>
</div>